name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read
  id-token: write   # This is required for requesting the JWT
jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        steps:
      - name: Git clone the repository
        uses: actions/checkout@v5
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: arn:aws:iam::783046133137:role/github-interviewing-workflow
          role-session-name: GithubSREInterviewingSession
          aws-region: us-east-1
      - name: Log in to Amazon Production ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2.0.1
      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: sre-interview:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          registry: ${{ steps.login-ecr.outputs.registry }}/sre-interview:main

